
.img-codoacodo{
    max-width: 8rem;
    margin-left: 3rem;
}

.navbar-nav{
    margin-right: 5rem;
    font-size: 1.1rem;
}

.buy{
    color: rgb(9, 185, 9) !important;
}

.navbar-dark{
    background: #353a40 !important;
}

header{
    height: 90vh;
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url('/img/hawaii.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.maintext{
    margin-top: 20%;
    margin-right: 10%;
    margin-left: 10%;
}
.maintext h1, p{
   text-align: right;
   color: white;
   display: flex;
   align-items: flex-end;
   justify-content: flex-end;
}

.maintext h1{
    font-size: 3rem;
    font-weight: 600;
}

.maintext p{
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 400;
    letter-spacing: 0.05rem;
}

.header-buttons{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin-top: 25px;
}

.comprartickets-btn{
    margin-left: 10px;
    background-color: #29a744;
}

.card-group{
   display: flex;
   align-items: flex-start;
   justify-content: space-evenly;
   margin-left: 10%;
   margin-right: 10%;
}

.mid-card, .first-card{
    margin: 0 30px;
}

.card-text{
    color: rgb(77, 76, 76);
    text-align: left;
    font-size: 0.7rem;
}

.oradores h1,h2{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

.oradores h2{
    font-size: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0;
}

.card-title{
    font-weight: 600;
}

.card-btn{
    font-size: 0.6rem;
    padding: 0;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    font-weight: bolder;
}

.react-btn{
    color: white;
}
.react-btn:hover{
    color: white;
}

.card{
    border: 1px solid rgba(0,0,0,.125) !important
}

.container{
    background-color: #353a40;
    min-width: 100%;
    margin: 0;
    padding: 0;
}

.container-img{
    max-width: 50%;
    max-height: 100vh;
    object-fit: contain;
    margin: 0 0 0 0;
    top: 0%;
    left: 0%;
    display: inline-block;
    border: 3px solid rgb(255, 255, 255, 0.2)
}

.container-text{
    max-width: 50%;
    text-align: left;
    color: white;
    float: right;
}
.container-text  h1,p{
    text-align: left;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    font-size: 2rem;
}

.container-text p{
    font-size: 0.8rem;
}

.container-text button{
    margin-left: 10px;
    font-size: 0.8rem;
}